.uploadfilecontainer {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  opacity: 90%;
  height: 250px;
  margin-bottom: 2%;
  border: dashed 6px white;
  border-radius: 20px;
}

.plus {
  display: flex;
  color: white;
  height: 100%;
  width: 100%;
  font-size: 70px;
  font-weight: 400;
  align-self: center;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #04ff00 !important;
  opacity: 0.4;
}

.files-list {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  background: rgba(4, 255, 0, 0.44);
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-family: 'Patua One', cursive;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}
.files-list .delete-file img{
  width:30px;
}
