.uploadfilecontainer {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  opacity: 90%;
  height: 250px;
  margin-bottom: 5%;
  border: dashed 6px white;
  border-radius: 20px;
}

.plus {
  display: flex;
  color: white;
  height: 100%;
  width: 100%;
  font-size: 70px;
  font-weight: 400;
  align-self: center;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

.delete-icon {
  font-size: 40px;
  height: 100%;
  width: 100%;
  align-self: center;
  justify-content: center;
  color: white;
}

.delete-icon:hover {
  font-size: 40px;
  height: 100%;
  width: 100%;
  align-self: center;
  justify-content: center;
  color: #ff0002;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background: linear-gradient(to top, #04ff00 1%, #048200 15% ,#28343b) !important;
  opacity: 0.4;
}

.files-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 2%;
  background: rgba(4, 255, 0, 0.44);
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-family: 'Patua One', cursive;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}
.files-list .delete-file img{
  width:30px;
}

::ng-deep .mat-select-value-text {
  color: white;
  font-family: 'Patua One', cursive;
}

/*** To change the arrow color ****/
::ng-deep .mat-select-arrow {
  color: #04ff00;
  opacity: 0.4;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #04ff00 !important;
  opacity: 0.4;
}
::ng-deep .mat-form-field-underline .ng-tns-c7-0 .ng-star-inserted {
  background-color: #04ff00 !important;
  opacity: 0.4;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #04ff00 !important;
  opacity: 0.4;
}

::ng-deep .mat-select-arrow {
  color: #04ff00 !important;
  opacity: 0.4;
}
