<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
  <mat-icon color="white" class="plus" matTooltip="Add file to upload">add</mat-icon>
  <div class="button-with-text">
    <div class="dragDrop-text">
      Drag & Drop files or
    </div>
    <button class="click-button" mat-raised-button >CLICK</button>
    <div class="send-text">
      to send up to 50Mb
    </div>
  </div>
  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
</div>
<div *ngIf="!uploaderService.isLoaded()" style="font-size: 1vw">
  <div class="files-list" *ngFor="let file of files;let i=index">
    <p>{{ file.name }}</p>
    <button class="delete-file" (click)="deleteAttachment(i)" *ngIf="!uploaderService.isLoading()">
      <mat-icon color="white" class="delete-icon" matTooltip="Delete file">delete_outline</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="uploaderService.isLoaded() && fileStoreService.getUploadResult() != null">
  <div class="uploaded-files" *ngFor="let upload of fileStoreService.getUploadResult();let i=index">
    <p>{{getFileUrl(upload.oid)}}</p>
    <button class="load-file" (click)="downloadFile(upload)" *ngIf="!uploaderService.isLoading()">
      <mat-icon color="white" class="load-icon" matTooltip="Load file">open_in_new</mat-icon>
    </button>
  </div>
</div>
