button:focus {
  outline: none !important;
}

.uploadfilecontainer {
  height: 260px;
  border: dashed 3px #ffffff;
  border-radius: 20px;
}

.uploadfilecontainer:hover {
  border: solid 3px #ffffff;
  border-radius: 20px;
}

.plus-size {
  width:65px;
  height: 65px;
  font-size: 65px;
  font-weight: 400;
  cursor: pointer;
}
.plus {

  color: white;
  align-self: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: auto;
  
}

.button-with-text {
  display: flex;
  align-self: center;
  justify-content: center;
 
}

.click-button {
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
  justify-content: center;
  text-align: center;
  margin: auto;
 
}
.push-button {

  align-self: center;
  justify-content: center;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  margin: auto;
}

.dragDrop-text {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font-size: 16px;
  /*  font-size:calc(7px + 1vw); */
  align-self: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: auto;
  padding-left:20px;
}

.send-text {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font-size: 16px;

  align-self: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: auto;
  padding-right:20px;
}


 

.delete-icon {
  font-size: 22px;
  align-self: center;
  justify-content: center;
  color: white;
  height: 100%;
  width: 22px;
  font-weight: 300;
}

.delete-icon:hover {
  font-size: 22px;
  align-self: center;
  justify-content: center;
  color:rgba(255, 193, 193, 0.815);
  height: 100%;
  width: 22px;
  font-weight: 300;
}

.files-list {
 
  background-image: -moz-linear-gradient(122deg, rgba(0, 229, 153, 0.4) 0%, rgba(0, 175, 146, 0.4) 100%);
  background-image: -webkit-linear-gradient(122deg, rgba(0, 229, 153, 0.4) 0%, rgba(0, 175, 146, 0.4) 100%);
  background-image: -ms-linear-gradient(122deg, rgba(0, 229, 153, 0.4) 0%, rgba(0, 175, 146, 0.4) 100%);
  background-image: linear-gradient(122deg, rgba(0, 229, 153, 0.4) 0%, rgba(0, 175, 146, 0.4) 100%);


  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);

  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 22px;
}

.uploaded-files {
  
  background-image: -moz-linear-gradient(122deg, rgba(0, 229, 153, 0.4) 0%, rgba(0, 175, 146, 0.4) 100%);
  background-image: -webkit-linear-gradient(122deg, rgba(0, 229, 153, 0.4) 0%, rgba(0, 175, 146, 0.4) 100%);
  background-image: -ms-linear-gradient(122deg, rgba(0, 229, 153, 0.4) 0%, rgba(0, 175, 146, 0.4) 100%);
  background-image: linear-gradient(122deg, rgba(0, 229, 153, 0.4) 0%, rgba(0, 175, 146, 0.4) 100%);

  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);

  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
}

.load-icon {
  font-size: 22px;
  height: 100%;
  align-self: center;
  justify-content: center;
  color: white;
  width: 22px;
  font-weight: 300;
}

.load-icon:hover {
  font-size: 22px;
  height: 100%;
  align-self: center;
  justify-content: center;
  color: white;
  width: 22px;
  font-weight: 300;
}



.uploaded-files .load-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

::ng-deep .mat-select-value-text {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
}

/*** To change the arrow color ****/
::ng-deep .mat-select-arrow {
  color:rgba(0, 229, 153, 1);
  opacity: 0.4;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: rgba(0, 229, 153, 1) !important;
  opacity: 0.4;
}

::ng-deep .mat-form-field-underline .ng-tns-c7-0 .ng-star-inserted {
  background-color: rgba(0, 229, 153, 1) !important;
  opacity: 0.4;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 229, 153, 1) !important;
  opacity: 0.4;
}

::ng-deep .mat-select-arrow {
  color: rgba(0, 229, 153, 1) !important;
  opacity: 0.4;
}



 