<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
  <mat-icon color="white" class="plus" matTooltip="Add file to upload">add</mat-icon>
  <div class="button-with-text">
    <div class="dragDrop-text">
      Drag & Drop files or
    </div>
    <button class="click-button" mat-raised-button >CLICK</button>
    <div class="send-text">
      to send up to 50Mb
    </div>
  </div>
  <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
</div>
<div *ngIf="!uploaderService.isLoaded()" style="font-size:calc(7px + 0.8vw);">
  <div class="files-list" *ngFor="let file of files;let i=index">
    <p style="margin-left: 10px; width:calc(40px + 70vw); word-wrap: break-word;">{{ file.name }}</p>

    <button class="delete-file" (click)="deleteAttachment(i)" *ngIf="!uploaderService.isLoading()">
      <mat-icon color="white" class="delete-icon" matTooltip="Delete file">delete_outline</mat-icon>
    </button>

  </div>
</div>
<div *ngIf="uploaderService.isLoaded() && fileStoreService.getUploadResult() != null" style="font-size:calc(7px + 0.8vw);">
  <div class="uploaded-files" *ngFor="let upload of fileStoreService.getUploadResult();let i=index">
    <p style="margin-left: 10px; width:calc(40px + 70vw); word-wrap: break-word;"><a href="{{getFileUrl(upload.oid)}}">{{getFileUrl(upload.oid)}}</a></p>
    
    <button class="load-file" (click)="copyToClipboard(getFileCopyLink(upload.oid))" *ngIf="!uploaderService.isLoading()">
      <mat-icon color="white" class="load-icon" matTooltip="Copy link to file">link_outline</mat-icon>
    </button>
    
    <button class="load-file" (click)="downloadFile(upload)" *ngIf="!uploaderService.isLoading()">
      <mat-icon color="white" class="load-icon" matTooltip="Load file">open_in_new</mat-icon>
    </button>

  </div>
</div>
