<div class="container d-flex justify-content-center">

  <div class="uploadfilecontainer " (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">

    <div class="col align-items-center">

      <div class="row" style="height:100%; margin-bottom: -6rem;">
        <mat-icon color="white" class="plus plus-size" matTooltip="Add file to upload" style="margin-top:70px;">add
        </mat-icon>
      </div>


      <div class="row align-items-center">
        <div class="button-with-text align-items-center plus">
          <div class="dragDrop-text">
            Drag & Drop files or
          </div>
          <div style=" padding-left:10px;padding-right:10px;">
            <button class="click-button" class="btn btn-primary">CLICK</button></div>
          <div class="send-text">
            to send up to 50Mb
          </div>
        </div>


      </div>
    </div>

  </div>

</div>

<input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">



<select-and-push></select-and-push>




<div class="container">
  <div style="padding-bottom:60px; font-size:16px;">

    <div *ngFor="let file of fileStoreService.getFiles();let i=index">

      <div class="row" class="files-list">
        <div class="col-md-12 clearfix">
          <p style="margin-left: 10px; word-wrap: break-word; margin-right: 20px; margin-bottom:0px;  align-self: center;
    justify-content: center;" class="float-left">{{ file.name }}</p>

          <button class="delete-file float-right" (click)="deleteAttachment(i)" *ngIf="!uploaderService.isLoading()">
            <mat-icon color="white" class="delete-icon" matTooltip="Delete file">delete_outline</mat-icon>
          </button>


        </div>
      </div>
    </div>
  </div>
</div>




<div class="container" style="padding-top:0px;">
  <div class="section" *ngIf="fileStoreService.getUploadResult()?.length > 0" style="padding-top:0px;">

    <div class="section-title" style="padding-top:0px;">

      <h2>Uploaded objects</h2>
    </div>


    <div *ngIf="fileStoreService.getUploadResult()?.length > 0" style="font-size:16px;">
      <div>

        <div class="row" class="uploaded-files" *ngFor="let upload of fileStoreService.getUploadResult();let i=index">
          <div class="col-md-12 clearfix">
            <p style="margin-left: 10px; word-wrap: break-word; margin-right: 20px; margin-bottom:0px;  align-self: center;
    justify-content: center;" class="float-left"><a [routerLink]="[getFileUrl(upload.oid)]">{{upload.oid}}</a></p> 

            <button class="load-file float-right" (click)="copyToClipboard(getFileCopyLink(upload.oid))">
              <mat-icon color="white" class="load-icon" matTooltip="Copy link to file">link</mat-icon>
            </button>

            <button class="load-file float-right" (click)="downloadFile(upload)">
              <mat-icon color="white" class="load-icon" matTooltip="Detailed info">open_in_new</mat-icon>
              <!-- *ngIf="!uploaderService.isLoading()" -->
            </button>

          </div>
        </div>
      </div>
    </div>




  </div>
</div>