
<div class="social-media">
  <a href="https://github.com/nspcc-dev"><img class="social-icon" src="../../assets/img/iconmonstr-github-1.svg" alt="" ></a>
  <a href="https://medium.com/@neospcc"><img class="social-icon" src="../../assets/img/iconmonstr-medium-1.svg" alt=""></a>
  <a href="https://twitter.com/neospcc"><img class="social-icon" src="../../assets/img/iconmonstr-twitter-1.svg" alt=""></a>
  <a href="https://www.youtube.com/channel/UCAC6lR1bJFv0-O07Nol_p8w"><img class="social-icon" src="../../assets/img/iconmonstr-youtube-1.svg" alt=""></a>
</div>
<div class="footer-copyright">
  © Copyright 2019. <a href="https://nspcc.ru">NSPCC</a>
</div>
