<div class="social-media">
  <a href="https://neo.org" target="_blank"><img class="social-icon-simple" src="../../assets/img/Neo_symbol.svg" alt=""></a>
  <a href="https://nspcc.ru/en" target="_blank"><img class="social-icon" src="../../assets/img/Neo_SPCC_symbol.svg" alt="" style="border-right: 2px solid #000000; padding-right: 20px;"></a>

  
  <a href="https://github.com/nspcc-dev" target="_blank"><img class="social-icon" src="../../assets/img/iconmonstr-github-1.svg"
      alt="" ></a>
  <!--<a href="https://medium.com/@neospcc"><img class="social-icon" src="../../assets/img/iconmonstr-medium-1.svg" alt=""></a>-->
  <a href="https://twitter.com/neospcc" target="_blank"><img class="social-icon" src="../../assets/img/iconmonstr-twitter-1.svg"
      alt=""></a>
  <a href="https://www.youtube.com/channel/UCAC6lR1bJFv0-O07Nol_p8w " target="_blank"><img class="social-icon"
      src="../../assets/img/iconmonstr-youtube-1.svg" alt=""></a>
</div>


<div class="text-center">
    <small style="color:#ffffff">0.1.9</small>
 </div>