.footer-content {
  grid-column: 5;
  text-align: center;
  margin-top: 5%;
  height: 100%;
  color: white;
  font-family: 'Patua One', cursive;
}

/* visited link */
a:visited, a:link {
  color: #009d00;
}
