.footer-copyright {
 
  text-align: center;
  padding-bottom: 10px;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font-size:18px;
}

.social-media {
 
  text-align: center;
}

.social-icon {
  margin: 10px;
  height: 30px;
  filter: invert(1)
}

/* visited link */
a, a:visited, a:link {
  color: #ffffff;
  text-decoration: underline;
}
