.footer-copyright {
  grid-column: 5;
  grid-row: 2;
  text-align: center;
  padding-bottom: 10px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:calc(7px + 0.8vw);
}

.social-media {
  grid-column: 5;
  text-align: center;
}

.social-icon {
  margin: 1%;
  height: 30px;
  filter: invert(1)
}

/* visited link */
a:visited, a:link {
  color: #009d00;
}
