.nav_link {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    cursor: pointer;
    font-size:calc(9px + 1.5vw);
}

.line {
    border-bottom: 2px solid #4e7138;
    grid-row: 2;
    grid-column: 1/8;
  }

.grid_links {
    grid-row: 1;
    grid-column: 4/8;
}

.grid_links_ol {
    grid-row: 1;
    grid-column: 10;
    display: grid;
  }