.push-button {

  align-self: center;
  justify-content: center;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  margin: auto;
}


.loading-screen-wrapper ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: rgba(0, 229, 153, 1) !important;
}

.loading-screen-wrapper {
  margin: auto;
}
.loading-screen-wrapper.mat-spinner {
  justify-content: center;
  align-items: center;
}

.center-data {
  justify-content: center;
  align-items: center;
  margin: auto;
}