<div class="section">

  <div class="section-title">

    <div class="text" *ngIf="loading">
      Loading...
    </div>

    <div class="loading-screen-wrapper center-data" *ngIf="loading">
      <mat-spinner class="center-data"></mat-spinner>
    </div>

    <div *ngIf="!loading">
      <h2>Download your files via HTTP-gate</h2>
    </div>
  </div>

  <div class="container" *ngIf="!loading">
    <div class="row centered-form center-block">

      <p class="center-data">
        <button mat-raised-button class="push-button btn btn-primary" (click)="download()">DOWNLOAD</button>
      </p>

    </div>
    <div class="row centered-form center-block" style="padding-top:40px;">

      <p class="center-data">
        <button mat-raised-button class="push-button btn btn-primary" (click)="copyToClipboard(getFileCopyLink())">COPY
          LINK</button>
      </p>

    </div>
    <div class="row centered-form center-block" style="padding-top:40px;">
      <p class="center-data">
        <a
          href="https://send.fs.neo.org/{{ getFileCid() }}/{{ getFileId() }}">Open file by link</a>
      </p>
    </div>

</div>
</div>


<div class="section" style="padding-top:0px;" *ngIf="!loading">

  <div class="section-title">

    <h2>Download via <a
        href="https://github.com/nspcc-dev/neofs-local/blob/master/neofs-local/HOWTO.md#lets-run-neofs-cli">NeoFS
        client</a> console</h2>
  </div>

  <div class="container">


    <div class="row centered-form center-block">
      <p class="center-data">
        Container ID: {{ getFileCid() }} </p><br>
        <p class="center-data">
        Object ID: {{ getFileId() }}
      </p>
    </div>
  </div>
</div>