h1 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  color: white;
}
h3 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  color: white;
}

h4 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  color: white;
}
