<div class="section">

  <div class="section-title">
    <!--style="padding-bottom:0px;">-->
    <h2>Terms of Service</h2>
  </div>

  <div class="container">

    <p class="mb-4">NEO Saint Petersburg Competence Center (NEO SPCC) was established to support the NEO core and do
      research in distributed storage
      systems field.
    </p>

    <p class="mb-4">
      This is a test service. NEO SPCC is not responsible for losing uploaded data. All the uploaded data is presumed to
      be public.
    </p>

    <p class="mb-4">
      The service is designed for individuals 18 years of age or older.
      As a user of the service you will uphold these terms of service and are responsible for all activities and content
      you
      post/upload.
    </p>

    <p class="mb-4">
      In addition to upholding these terms of service, you are responsible for adhering to all applicable local and
      national
      laws.
    </p>

    <p class="mb-4">
      NEO SPCC is not responsible for the content uploaded by users.
    </p>

  </div>
</div>


    <div class="section">
      <div class="container">

        <p class="mb-4">
         <small> Send.NeoFS version: 0.1.4 </small>
        </p>
      </div>
    </div>

