<h1>
  Terms of Service
</h1>
<h3>
  NEO Saint Petersburg Competence Center (NEO SPCC) was established to support the NEO core and do research in distributed storage
  systems field.
</h3>
<h3>
  This is a test service. NEO SPCC is not responsible for losing uploaded data. All the uploaded data is presumed to be public.
</h3>
<h3>
  The service is designed for individuals 18 years of age or older.
  As a user of the service you will uphold these terms of service and are responsible for all activities and content you
  post/upload.

  In addition to upholding these terms of service, you are responsible for adhering to all applicable local and national
  laws.
</h3>
<h3>
  NEO SPCC is not responsible for the content uploaded by users.
</h3>
