h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  font-size:calc(7px + 2vw);
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  font-size:calc(7px + 1vw);
}
