
@font-face {
  font-family: Rajdhani;
  src: url('/assets/fonts/Rajdhani-Regular.ttf');
}
@font-face {
  font-family: Rajdhani-Bold;
  src: url('assets/fonts/Rajdhani-Bold.ttf');
}


html, body {
  height: 100%;
  font-family: 'Rajdhani', sans-serif;
}



@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
