<div class="text">
  NeoFS: Distributed object storage
</div>
<div class="text-small">
  Send.NeoFS is a simple example of integration with NeoFS network via HTTP protocol. It allows to store your files in decentralized network for the selected period of time and share them via generated link. Send.NeoFS should be used for NeoFS public test only.
<br><br>
During the test, we are collecting network metrics and feedback from participants which will help to improve the developed system.
Your feedback is important for us. <br>Please, send it to <a href="mailto:testnet@nspcc.ru">testnet@nspcc.ru</a>.

</div>
<app-upload-file></app-upload-file>
<select-and-push></select-and-push>
