.text {
  color: white;
  font-size: 26px;
  font-size: 2vw;
  font-family: 'Patua One', cursive;
}

.text-small {
  color: white;
  font-size: 16px;
  font-size: 1vw;
  font-family: 'Patua One', cursive;
  margin-bottom: 5%;
}
