<div class="section">

  <div class="section-title">

    <h2>Send.NeoFS: HTTP-gate demo for distributed object storage</h2>
  </div>

  <div class="container">

    <p class="mb-4">Send.NeoFS is a simple example of integration with NeoFS network via HTTP protocol. It allows to
      store your files in decentralized network for the selected period of time and share them via generated link.
      Send.NeoFS should be used for NeoFS public test only.
    </p>

    <p class="mb-4">
      During the test, we are collecting network metrics and feedback from participants which will help to improve the
      developed system.
      Your feedback is important for us. <br>Please, send it to <a href="mailto:testnet@nspcc.ru">testnet@nspcc.ru</a>.
    </p>

  </div>
</div>


<app-upload-file></app-upload-file>