
mat-label {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
}

.lifetime-panel.mat-select-panel {
  background: rgba(0, 175, 146, 0.8);
  background-image: -moz-linear-gradient(135deg, rgba(0, 175, 146, 0.8) 0%, rgba(43, 57, 63, 0.8) 100%);
  background-image: -webkit-linear-gradient(135deg, rgba(0, 175, 146, 0.8) 0%, rgba(43, 57, 63, 0.8) 100%);
  background-image: -ms-linear-gradient(135deg, rgba(0, 175, 146, 0.8) 0%, rgba(43, 57, 63, 0.8) 100%);
  background-image: linear-gradient(135deg, rgba(0, 175, 146, 0.8) 0%, rgba(43, 57, 63, 0.8) 100%);
  border-radius: 10px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
}

.mat-option-text {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  color: white;
}

.lifetime-options {
  border-radius: 10px;
  width: 100%;
  align-self: center;
  justify-content: left;
}


.push-button {

  align-self: center;
  justify-content: center;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  margin: auto;
}



.mat-form-field-appearance-legacy .mat-form-field-label {
   color: red;
 }

.mat-focused .mat-form-field-required-marker {
  color: red;
}

.mat-progress-bar-fill::after {
  background: rgba(0, 229, 153, 1)
}

.mat-progress-bar-buffer {
  background-color: #20303f;
}

.progress-bar {
  width: 100%;

}
