.wrapper {
  display: grid;
  grid-template-columns: 60% 10% 30%;
}

mat-label {
  color: white;
  font-family: 'Patua One', cursive;
}

.lifetime-panel.mat-select-panel {
  background: rgba(4, 255, 0, 0.44);
  border-radius: 10px;
  font-family: 'Patua One', cursive;
}

.mat-option-text {
  font-family: 'Patua One', cursive;
  color: white;
}

.lifetime-options {
  grid-column: 1/3;
  border-radius: 10px;
  width: 50%;
  align-self: center;
  justify-content: left;
}

.push-button {
  grid-column: 3/3;
  background: rgba(4, 255, 0, 0.44);
  border-radius: 10px;
  align-self: center;
  justify-content: right;
  color: white;
  font-family: 'Patua One', cursive;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
   color: red;
 }

.mat-focused .mat-form-field-required-marker {
  color: red;
}
