/* You can add global styles to this file, and also import other style files ,400,700,900*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


@font-face {
    font-family: Rajdhani;
    src: url('assets/fonts/Rajdhani-Regular.ttf');
  }
  @font-face {
    font-family: Rajdhani-Bold;
    src: url('assets/fonts/Rajdhani-Bold.ttf');
  }

.main {
    font-family: 'Rajdhani', sans-serif;
margin: 0 0 0 0; 
background-color: #20303f; overflow-x: hidden;   
background-image: -moz-linear-gradient( 135deg, rgba(0, 175, 146, 1) 0%, rgba(43, 57, 63, 1) 100%); /*36  43 G57 B63*/
background-image: -webkit-linear-gradient( 135deg, rgba(0, 175, 146,1) 0%, rgba(43, 57, 63, 1) 100%);
background-image: -ms-linear-gradient( 135deg, rgba(0, 175, 146, 1) 0%, rgba(43, 57, 63, 1) 100%);
background-image: linear-gradient( 135deg, rgba(0, 175, 146, 1) 0%, rgba(43, 57, 63, 1) 100%);
}


/* NAVBAR */


.navgrid{
    grid-template-columns: 1% 5% 10% 10% 48% 10% 10% 5% 1%;
    display: grid;
    
  }
  .navpos{
    grid-row: 1;
    grid-column: 4/7;
    
  }
  
  .nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
    background-color: rgb(43, 57, 63, 1);
    font-family: 'Rajdhani', sans-serif;
    /* R43 G57 B63 */
  }
  
  .nav-menu.is-scrolling,
  .nav-menu.menu-is-open {
    background-color: rgb(43, 57, 63, 1);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
  }
  
  .nav-menu.is-scrolling {
    padding: 1rem 0;
  }
  
  .navbar-nav .nav-link {
    position: relative;
    cursor: pointer;
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 19px;
    }
    .navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        border-bottom: 2px solid rgba(0, 229, 153, 0.8);
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
    
  }
  
  @media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
  }
  
  
  
  
  
  /*             AAA           */
  
  
  
  
  